# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
.env
.env.*
dist/
build/
.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# PyInstaller
*.spec

# Pyxel packaged app
*.pyxapp
